table{
  margin: 4rem auto 8rem auto;
  width: 80%;

}
.header-actions{
  .add-button{
    left: 14.5rem
  }
  h1{
    margin: 0;
  }
}
.actions-buttons{
  display: flex;
  justify-content: center;
}
.chest-home{
  position: relative;
}
