<app-deposit-header></app-deposit-header>
<div class="container">
    <h1> Qui sommes nous</h1>

  <section id="qui-sommes-nous">
    <aside class="">
      <div class="text">
        <p> Notre application vous facilitera toutes vos démarches administratives,
         
        Grâce au coffre-fort numérique qui centralise tous les papiers nécessaires à l’exécution d’une tâche.  </p>
      </div>
    </aside>
    <aside class="">
      <div class="text">
        <p> Notre plus-value, sera le gain de temps dégagé par la possibilité que vous pouvez générer automatiquement vos documents avec vos données personnelles précédemment saisies. 
          
          </p>
      </div>
    </aside>
  </section>

  <section id="notre-equipe">
    <h2>Notre équipe</h2>
    <hr>
    <div id="teams-images">
      <div class="team-image">

        <img src="assets/img/team/manel.jpg">
        <p>JERBI Manel</p>
      </div>
      <div class="team-image">
        <img src="assets/img/team/chris.jpg">
        <p>CREUSAT Chris</p>
      </div>
      <div class="team-image">
        <img src="assets/img/team/aranxa.jpg">
        <p>CODINA Aranxa</p>
      </div>
    </div>
  </section>

  <section id="notre-entreprise" class="project-container">
    <div>
      <h2>Notre entreprise</h2>
      <hr>
      <p> Depos’it est un coffre-fort numérique qui permet d’accompagner les particuliers dans la gestion et la sauvegarde de leurs documents personnels. 

        Notre application assurera le stockage de toutes les données en sécurité et maintiendra l’intégrité des documents stockés, grâce à notre coffre-fort numérique. L’utilisateur aura toujours accès à tous ses documents n’importe où, n’importe quand à travers une meilleure organisation pour lui avec le classement automatisé de tous ses documents administratifs. 
        
        Notre solution pourra également servir de guide dans la préparation des démarches, cette fonction permettra à l’utilisateur de regrouper les documents nécessaires pour réaliser une démarche administrative par exemple renouveler sa carte d’identité, constituer un dossier de location, etc. 
        
        Notre plus-value, sera le gain de temps dégagé par la possibilité pour notre utilisateur de générer automatiquement ses documents avec ses données personnelles précédemment saisies. </p>
    </div>
  </section>

  <section id="nos-services" class="project-container">
    <div class="text">
      <h2>Nos services</h2>
      <hr>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Gagner du temps au quotidien : Plus besoin de chercher ses documents ils seront tous dématérialisés et centralisés sur notre application. </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Classer et ranger ses papiers dans un coffre-fort numérique : Tous les documents seront répertoriés, classés selon leurs … </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Stocker automatiquement les documents.  </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Avoir l’accès facile et rapide à ses documents : L’accès aux documents n’importes ou, n’importe quand. </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Préparer ses démarches administratives en quelque click : en suivant les étapes. </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  La génération automatique des documents : les seront prérempli automatiquement grâce au donnés enregistrées.</p>

    </div>
     <div id ="services-images">
      <div> 
          <img src="assets/img/services/connect.png">
          <p>Restez connectés </p>
       </div>
       <div>
          <img src="assets/img/services/temp-argent.jpg" >
          <p>Gagnez du temps </p>
        </div>
        <div>
          <img src="assets/img/services/ecologie.png" >
          <p> Soyez ecologique </p>
        </div>
      
        </div> 
  </section>


</div>

<app-deposit-footer></app-deposit-footer>
