<app-deposit-header></app-deposit-header>
<div id="title">
  <h1> Qui sommes nous :</h1>
</div>
<section id="QuiSommesNous">
  <aside class="content-left">
    <div class="text">
      <p> laalalaalala lilili lalal lili loulou lalou. laalalaalala lilili lalal lili loulou lalou. laalalaalala lilili lalal lili loulou lalou. laalalaalala lilili lalal lili loulou lalou. laalalaalala lilili lalal lili loulou lalou.</p>
    </div>
  </aside>
  <aside class="content-right">
    <div class="text">
      <p> laalalaalala lilili lalal lili loulou lalou. laalalaalala lilili lalal lili loulou lalou. laalalaalala lilili lalal lili loulou lalou. laalalaalala lilili lalal lili loulou lalou.</p>
    </div>
  </aside>
</section>

<section id="NotreEquipe">
  <h2>Notre équipe</h2>
  <hr>
  <table>
    <tr>
      <td>
        <img src="assets/img/team/manel.jpg" class="image">
        <p>JERBI Manel</p>
      </td>
      <td>
        <img src="assets/img/team/chris.jpg" class="image">
        <p>CREUSAT Christopher​</p>
      </td>
      <td>
        <img src="assets/img/team/aranxa.jpg" class="image"> 
        <p> CODINA Aranxa</p>
      </td>
    </tr>
  </table>
</section>

<section id="NotreEntreprise" class="project-container">
  <div class="text">
    <h2>Notre entreprise</h2>
    <hr>
    <p> laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou. </p>
  </div>
</section>

<section id="NosServices" class="project-container">
  <div class="text">
    <h2>Nos services</h2>
    <hr>
    <p> laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou.  laalalaalala lilili lalal lili loulou lalou. </p>
  </div>
  <br><br><br>
  <table>
    <tr>
      <td>
        <img src="assets/img/services/connect.png" width="150" height="150">
        <p>CLOUD</p>
      </td>
      <td>
        <img src="assets/img/services/economique.png" width="150" height="150">
        <p>CYBERSECURITE</p>
      </td>
      <td>
        <img src="assets/img/services/rester zen.png" width="150" height="150">
        <p> CUSTOMER FIRST</p>
      </td>
    </tr>
    <br><br>
    <tr>
      <td>
        <img src="assets/img/services/baseline-1.png" width="150" height="150">
        <p>DATA ET INTELLIGENCE ARTIFICIELLE</p>
      </td>
      <td>
        <img src="assets/img/services/ecologie.png" width="150" height="150">
        <p>DEVELOPPEMENT DURABLE</p>
      </td>
      <td>
        <img src="assets/img/services/baseline-2.png" width="150" height="150">
        <p>GESTION D'ENTREPRISE</p>
      </td>
    </tr>
  </table>
</section>

<br><br><br>
<app-deposit-footer></app-deposit-footer>