@import "src/styles/variables";
@import "../../../styles/variables.scss";


h1{
  color: $blue;
}

#qui-sommes-nous{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  aside{
    width: 40%;
  }
  .text{
    text-align: center;
  }
}

#notre-equipe{
  margin-top: 8rem;
  #teams-images{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
      div{
        width: 8rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
          width: 100%
        }
      }

  }
  h2{
    text-align: center;
  }
  hr{
    border: 1px solid $blue;
    margin-bottom: 4rem;
    width: 8rem;
    background-color:$blue;
  }
}
#notre-entreprise{
  width: 70%;
  margin: 8rem auto auto;

  h2{
    text-align: center;
  }
  hr{
    border: 1px solid $blue;
    margin-bottom: 4rem;
    width: 8rem;
    background-color:$blue;
  }
}




#nos-services{

  hr{
    border: 1px solid $blue;
    margin-bottom: 4rem;
    width: 8rem;
    background-color:$blue;
  }
  table{
    width: 100%;
    text-align: center;
  }
  .text{
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
}
