<app-deposit-header></app-deposit-header>
<div class="container">
    <h1> Qui sommes nous ?  </h1>

  <section id="qui-sommes-nous">
    <aside class="text">
    <p> Depos'It est né par le constat simple que la gestion des documents admnistratifs peut être compliquée et peut prendre du temps </p>
    <p>Nous sommes donc trois étudiants qui avons décidé de travailler à une solution qui permettrait de faire gagner du temps</p>
      Notre application assurera le stockage de toutes les données en sécurité et maintiendra l’intégrité des documents stockés, grâce à notre coffre-fort numérique. Vous aurezs toujours accès à tous vos documents n’importe où, n’importe quand à travers une meilleure organisation pour lui avec le classement automatisé de tous ses documents administratifs.
    </aside>
    <aside>
      <div class="aside-img">
        <img src="assets/img/services/zen.png"/>
      </div>
    </aside>
  </section>

  <section id="notre-equipe">
    <h2>Notre équipe</h2>
    <hr>
    <div id="teams-images">
      <div class="team-image">

        <img src="assets/img/team/manel.jpg">
        <p>JERBI Manel</p>
      </div>
      <div class="team-image">
        <img src="assets/img/team/chris.jpg">
        <p>CREUSAT Chris</p>
      </div>
      <div class="team-image">
        <img src="assets/img/team/aranxa.jpg">
        <p>CODINA Aranxa</p>
      </div>
    </div>
  </section>

  <section id="notre-entreprise" class="project-container">
    <div>
      <h2>Notre entreprise</h2>
      <hr>
      <div class="quote">
        <div class="quote-character">
          “
        </div>
        <p> La simplicité est le secret de la réussite <i> André Rochette</i> </p>
      </div>
      <p>Chez Depos'it, nous croyons en la puissance de la simplicité pour transformer la gestion de vos documents personnels. Nous avons créé une solution innovante et sécurisée pour vous accompagner dans vos démarches administratives et vous faire gagner du temps précieux. </p>
    <p> Avec Depos'it, la tranquillité d'esprit et l'efficacité sont à portée de main. Simplifiez votre vie et laissez-nous prendre soin de vos documents importants, car la brillance réside dans la simplicité. </p>
    </div>
  </section>

  <section id="nos-services" class="project-container">
    <div class="text">
      <h2>Nos services</h2>
      <hr>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Gagner du temps au quotidien : Plus besoin de chercher ses documents ils seront tous dématérialisés et centralisés sur notre application. </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Classer et ranger ses papiers dans un coffre-fort numérique : Tous les documents seront répertoriés, classés selon leurs … </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Stocker automatiquement les documents.  </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Avoir l’accès facile et rapide à ses documents : L’accès aux documents n’importes ou, n’importe quand. </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  Préparer ses démarches administratives en quelque click : en suivant les étapes. </p>
      <p> <fa-icon class="icon" [icon]="caretRight"></fa-icon>  La génération automatique des documents : les seront prérempli automatiquement grâce au donnés enregistrées.</p>

    </div>
     <div id ="services-images">
      <div>
          <img src="assets/img/services/connect.png">
          <p>Restez connectés ! </p>
       </div>
       <div>
          <img src="../../../assets/img/services/temps-argent.jpg" >
          <p>Gagnez du temps !</p>
        </div>
        <div>
          <img src="assets/img/services/ecologie.png" >
          <p> Soyez ecologique ! </p>
        </div>

        </div>
  </section>


</div>

<app-deposit-footer></app-deposit-footer>
