@import "src/styles/variables";
@import "../../../styles/variables.scss";


h1{
  color: $blue;
}

#qui-sommes-nous{
  display: flex;

  p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 1.6rem;
  }
  :last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  aside{
    width: 50%;
    .aside-img{
      width: 70%;
      img{
        width: 100%;
      }
    }
  }

}

#notre-equipe{
  margin-top: 8rem;
  #teams-images{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
      div{
        width: 8rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
          width: 100%
        }
      }
      p{
        text-align: center;
      }

  }
  h2{
    text-align: center;
  }
  hr{
    border: 1px solid $blue;
    margin-bottom: 4rem;
    width: 8rem;
    background-color:$blue;
  }
}
#notre-entreprise{
  margin: 8rem auto auto;
  .quote{
    position: relative;
    p{
      font-size: 1.1rem;
      font-weight: 300;
      margin-left: 2.8rem;
    }
    .quote-character{
      position: absolute;
      color: $blue;
      font-size: 6rem;
      top:-80px

    }
  }

  h2{
    text-align: center;
  }
  hr{
    border: 1px solid $blue;
    margin-bottom: 4rem;
    width: 8rem;
    background-color:$blue;
  }
}




#nos-services{
  margin: 8rem auto;
  margin-bottom: 16rem;

  h2{
  text-align: center;
  }
  hr{
    border: 1px solid $blue;
    margin-bottom: 4rem;
    width: 8rem;
    background-color:$blue;
  }
  p{
    .icon{
      color: salmon;
      margin-right: 1rem;
    }
  }

  #services-images{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
    padding-top: 4rem;
    width: 70%;
    p{
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
      div{
        width: 10rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
          width: 100%;
        }
      }

  }
}
@media (max-width: 768px) {
  #qui-sommes-nous{
    flex-direction: column;
    :last-child{
      display: none;
    }
    aside{
      width: 100%;
    }
  }
  #notre-equipe{
    #teams-images{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div{
        margin-bottom: 1rem;
      }
    }
  }

  #services-images{
  flex-direction: column;
    align-items: center;
    width: 100%;
    div{
      margin-bottom: 1.5rem;
    }

  }
}

