@import "src/styles/variables";

#dashboard-home-header{
  display: flex;
  justify-content: space-between;
  h1{
    color:$blue
  }
}
.user-quick-access-document{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
app-user-last-documents{
  width: 150%;
  margin-right: 2rem;
}
