@import "src/styles/variables";
@import "../../../styles/variables.scss";

h1{
  color: $blue;
}
.header-contact{
  margin-bottom: 4rem;
}
.container{
  margin-bottom: 7rem;
}
.smiley-p{
  position: relative;
  width: fit-content;
  span{
    font-size: 1.5rem;
    position: absolute;
    right: -2.2rem;
    top:-0.5rem;
  }
}
