<app-deposit-header></app-deposit-header>
<div class="container">
  <section id="privacy-policy" >
    <div class="text">
      <h1>Politique de confidentialité</h1>
      <h2>Préambule</h2>
      <p>En vous inscrivant à Depos'It ou en nous écrivant via le formulaire de contact, vous reconnaissez avoir pris connaissance
      de notre politque de confidentialité et de protéction des données personelles décrite sur cette page, et consentez
      à ce que je collecte et utilise ces données pour des usages internes</p>
      <p> Aucune information personelle de l'utilisateur de app.deposit.ovh n'est échangée, transférée, cédée ou vendue sur un support quelconque à des tiers à l'insu de l'utilisateur</p>
      <h2>I. Responsable de traitement </h2>
      <p> Le responsable de traitement des données est Mme CODINA Aranxa. Les coordonnées de contact sont les suivantes </p>
      <p><b>Courrier électronique</b></p>
      <p><a href="mailto:codinaaranxa@gmail.com"> codinaaranxa@gmail.com</a></p>
      <h2>II. Données personelles recueillies</h2>
      <h3> 2.1 Formulaire de contact </h3>
      <p> Lorsque vous remplissez un formulaire de contact, nous recueillons les renseignements personnels que vous nous fournissez, tels que :</p>
      <ul>
        <li>Votre nom</li>
        <li> Votre adresse e-mail </li>
      </ul>
      <h3> 2.2 Inscription </h3>
      <p> Lorsque vous inscrivez nous recueillons les renseignements personnels que vous nous fournissez, tels que :</p>
      <ul>
        <li> Votre adresse e-mail </li>
      </ul>
      <p> En utilisant l'inscription par Google, nous recueillons les informations suivantes : </p>
      <ul>
        <li> Votre adresse email</li>
      </ul>
      <p> Nous nous ne recoltons aucune autre donnée provenant de Google</p>
      <h3> 2.3 Utilisation de Deposit </h3>
      <p> Lorsque vous utilisez Deposit, et notamment par la création de profil nous recueillons les renseignements personnels que vous nous fournissez, tels que :</p>
      <ul>
        <li> Votre nom et prénom </li>
        <li> Votre adresse e-mail </li>
        <li> Votre numéro de téléphone</li>
      </ul>
      <p> En créant et gerant votre coffre-fort éléctronique Depos'It, notamment par l'envoi de document personnels, nous sauvegardons en France vos documents personnels</p>
      <h2> III. Finalité de la collecte des données personnelles </h2>
      <p> Ces données sont récoltées pour les finalités suivantes</p>
      <ul>
        <li> <b> Formulaire de contact : </b> Amélioration de la qualité de service et assistance auprès de nos utilisateurs sur la base légale d'intérêt légitime</li>
        <li><b> Inscription : </b> Création et gestion de votre compte et accès aux services souscrits sur la base légale d'éxécution du contrat  </li>
        <li> <b>Utilisation de Depos'it : </b> Authentification lors de l'accès à vore coffre, stockage et sécurisation de vos documents. sur la base légale d'éxécution du contrat <br>
        Génération de document avec vos profils numérique
        </li>
      </ul>
      <h2> IV. Durée de conservation des données personelles </h2>
      <p>Conformément à la législation et réglementation en vigueur, vos données sont conservées pour la durée strictement nécessaire aux finalités poursuivies telles que décrites ci-dessus.

       </p>
      <p>Ainsi, pour les finalités suivantes : </p>
      <ul>
        <li> Formulaire de contact</li>
        <li>Inscription</li>
        <li> Utilisation de Deposit</li>
      </ul>
      <p>La durée de conservation des données des utilisateurs est celle de la relation commerciale soit une conservation pendant 3 ans, sauf pour le formulaire de contact où les données sont anonymisée après un mois à des fins de statistiques</p>
    <h2>V. Destinataire des données collectés</h2>
      <p>Les données collectées sont réservées à un usage purement interne. Nous ne procédons à aucune cession ni commercialisation de vos données.</p>
      <h2>VI. Exercice de vos droits</h2>
      <p>Conformément à la Loi Informatique et Libertés et la réglementation européenne sur la protection des données personnelles, vous disposez de droits sur les données vous concernant : </p>
        <ul>
      <li>
        Droit d’accès : Vous avez le droit de nous demander confirmation que vos données font bien l’objet d’un traitement et obtenir les informations relatives à ce traitement (finalités, destinataires etc…)
      </li>
      <li>
        Droit de rectification et d’effacement des données : Vous pouvez demander la rectification de vos données lorsqu’elles sont inexactes ou incomplètes. Vous pouvez également demander l’effacement de vos données sous réserve de nos obligations légales de conservation.
      </li>
      <li>
        Droit à la limitation du traitement : vous pouvez demander la limitation du traitement de vos Données, sous réserve du respect des obligations légales
      </li>
      <li>
        Droit d’opposition : vous pouvez vous opposer à tout moment au traitement de vos données, sauf en cas de motifs légitimes et impérieux de notre part. Vous pouvez également vous opposer au traitement fait à des fins de prospection.
      </li>
      <li>
        Droit à la portabilité : si les exigences légales sont remplies, vous pouvez demander à recevoir vos données dans un format structuré, couramment utilisé, lisible par machine et interopérable, et de les transmettre à un autre responsable du traitement sans que nous y fassions obstacle.
      </li>
      <li>
        Droit de ne pas faire l’objet d’une décision fondée sur un traitement automatisé : vous avez le droit de ne pas faire l’objet d’une décision fondée exclusivement sur un traitement automatisé produisant des effets juridiques vous concernant ou vous affectant, sauf lorsque cette décision est nécessaire à la conclusion ou à l’exécution d’un contrat, ou est autorisée légalement. Nous vous informons que nous ne prenons aucune décision automatisée.
      </li>
      <li>
        Réclamations : vous avez le droit d’introduire une réclamation auprès d’une autorité de contrôle.
      </li>
      <li>
        Directives en cas de décès : vous avez le droit de donner des directives pour le sort de vos données personnelles en cas de décès.
      </li>
    </ul>
      <p>
        Vous trouverez ici une information concernant l’exercice de ces droits : https://www.cnil.fr/fr/comprendre-vos-droits <br>
        Pour exercer vos droits, il vous suffit de contacter le responsable du traitement : <br>
        Par courriel à l’adresse de contact suivante :
      <a href="mailto:codinaaranxa@gmail.com">codinaaranxa@gmail.com </a>
        Conformément à la réglementation en vigueur, votre demande doit être signée et accompagnée de la photocopie d’un titre d’identité portant votre signature et préciser l’adresse à laquelle doit vous parvenir la réponse. <br>
        Une réponse vous sera alors adressée dans un délai d’1 mois maximum à compter de la réception de la demande.
      </p>
      <h2>VII. Sécurité</h2>
      <p>Pour protéger vos données personnelles, je prends des précautions raisonnables et suit les meilleures pratiques de l’industrie pour nous assurer qu’elles ne soient pas perdues, détournées, consultées, divulguées, modifiées ou détruites de manière inappropriée.

        Notre site est mis à jour régulièrement et consulté quotidiennement, il fait l’objet d’une sécurité avancée. Si vos données devaient être compromises de quelques manières que ce soit, nous sommes tenus d’en informer la CNIL dans les 72h. Vous serez également tenu au courant de cet éventuel incident et des mesures correctives mise en œuvre.</p>
      <h2> VIII. Modifications apportées à la présente politque de confidentialité</h2>
      <p>Nous nous réservons le droit de modifier la présente politique de confidentialité à tout moment. Nous vous invitons donc à la consulter fréquemment. Les changements et les clarifications prendront effet immédiatement après leur publication sur le site web. Si nous apportons des changements au contenu de cette politique, nous vous aviserez de sa mise à jour.</p>
      <h2> Questions et coordonnées</h2>
      <p>Pour toutes questions relatives à la présente politique de
        confidentialité, nous vous invitons à nous contacter.  </p>

    </div>
  </section>

</div>
<app-deposit-footer></app-deposit-footer>
