<button class="btn btn-primary btn-lg" (click)="connectionModal = true"> Se connecter </button>
<app-deposit-editor-modal
  [title]="'Se connecter'"
  [formBuilder]="connectionFormBuilder"
  [isOpen]="connectionModal"
  (isOpenChange)="connectionModal = $event"
  [service]="authApiService"
  (onSubmitForm)="onConnectionSubmit($event)"
  [customForm]="true"
  [extraContent]="extraContent"
>
</app-deposit-editor-modal>

<ng-template #extraContent>
  <div class="reset-password" (click)="resetModal = true; connectionModal = false">
    <span> J'ai oublié mon mot de passe </span>
  </div>

  <div class="auth-with-google">
    <hr>
    <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
  </div>
</ng-template>

<app-deposit-editor-modal
  [title]="'Réinitialiser mon mot de passe'"
  [formBuilder]="resetPasswordFormBuilder"
  [isOpen]="resetModal"
  (isOpenChange)="resetModal = $event"
  (onSubmitForm)="onResetSubmit($event)"
  [customForm]="true"
>
</app-deposit-editor-modal>
