<footer>
<div class="container">
<section class="head-footer">
  <aside class="logos">
    <div>
      <img src="assets/img/logo/logo_saumon.png"/>
    </div>
    <div class="logo-social-media">
      <a href="https://www.instagram.com/depositccj/"> <img src="assets/img/logos-social-media/insta.png"/></a>
     <a href="https://www.facebook.com/profile.php?id=100093406902333&is_tour_dismissed=true"><img src="assets/img/logos-social-media/fb.png"/></a>
      <a href="https://www.youtube.com/@DepositFrance"> <img src="assets/img/logos-social-media/yt.png"/></a>

    </div>
  </aside>
  <aside class="links">
    <div>
      <h4>Notre produit</h4>
      <a [routerLink]="['/']" fragment="deposit-support">Coffre de document</a>
      <a [routerLink]="['/']" fragment="plans">Nos offres</a>
    </div>
    <div>
      <h4>Nous contacter</h4>
      <a href="mailto:contact@deposit.ovh">contact@deposit.ovh</a>
      <a [routerLink]="['/pages/contact']">Contact</a>

    </div>
    <div>
      <h4>A propos</h4>
      <a [routerLink]="['/pages/qui-sommes-nous']">Qui sommes-nous ?</a>
      <a [routerLink]="['/pages/foire-aux-questions']">FAQ</a>
    </div>
  </aside>

</section>
<hr>
<section class="legal-notice">
  <div>
    <a [routerLink]="['/pages/mentions-legales']"> Mentions légales</a> -
    <a [routerLink]="['/pages/politique-de-confidentialite']"> Politique de confidentialité de données</a>
  </div>
  <div>
    <span> Copyright © 2023. Tous droits réservés</span>
  </div>
</section>

</div>
</footer>
