<footer>
<div class="container">
<section class="head-footer">
  <aside class="logos">
    <div>
      <img src="assets/img/logo/logo_saumon.png"/>
    </div>
    <div class="logo-social-media">
      <img src="assets/img/logos-social-media/insta.png"/>
      <img src="assets/img/logos-social-media/fb.png"/>
      <img src="assets/img/logos-social-media/twitter.png"/>
    </div>
  </aside>
  <aside class="links">
    <div>
      <h4>Notre produit</h4>
      <a href="">Coffre de document</a>
      <a href="">Nos offres</a>
    </div>
    <div>
      <h4>Nous contacter</h4>
      <a href="mailto:contact@deposit.ovh">contact@deposit.ovh</a>
      <a [routerLink]="['/pages/contact']">Contact</a>

    </div>
    <div>
      <h4>A propos</h4>
      <a [routerLink]="['/pages/qui-sommes-nous']">Qui sommes-nous ?</a>
    </div>
  </aside>

</section>
<hr>
<section class="legal-notice">
  <div>
    <a [routerLink]="['/pages/mentions-legales']"> Mentions légales</a> -
    <a [routerLink]="['/pages/politique-de-confidentialite']"> Politique de confidentialité de données</a>
  </div>
  <div>
    <span> Copyright © 2023. Tous droits réservés</span>
  </div>
</section>

</div>
</footer>
