@import "src/styles/variables";

.deposit-card{
  max-width: 12rem;
  min-width: 12rem;
  border: 1px solid $salmon;
  border-radius: 2rem;
  box-shadow: 0px 3px 6px #00000029;
  padding: 0.7rem;
  margin-bottom: 2rem;
  cursor: pointer;
  span{
    display: block;
  }
  .date-document{
    color: $grey_dark
  }
  .name-document{
    color: black;
    font-weight: bold;
  }


  .deposit-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .img-document-type{
      min-width: 1.5rem;
      max-width: 1.5rem;
      img{
        width: 100%;
      }
    }
  }
}
