header {
  height: 250px;
  background: white url("/assets/img/waves-header.svg") no-repeat center/cover;

  .container {
    margin-top: 0;
    padding: 1.5rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header-links-container {
    display: flex;
    align-items: center;

    #logo {
      max-width: 200px;
      margin-right: 2rem;

      img {
        width: 100%;
        mix-blend-mode: plus-lighter;
      }
    }

    ul {
      display: flex;
      gap: 20px;
      padding: 0;
      list-style: none;
      margin: 0 0 -.75rem;

      li {
        a {
          padding: 1rem .5rem;

          &:hover {

          }
        }
      }
    }

    .menu-links {
      text-decoration: none;
      color: white;
      font-size: 1rem;
    }
  }

  #header-auth-buttons-container {
    display: flex;
    margin-bottom: -.75rem;

    .btn-primary {
      border: none;
    }
  }
}

#user-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  width: 8rem;

  .user-button {
    max-width: 2.2rem;
    min-width: 2.2rem;
    min-height: 2.2rem;
    max-height: 2.2rem;
    object-fit: cover;
    border: 1px solid $salmon;
    border-radius: 50%;
    padding: 0.3rem;
  }

  .logout {
    cursor: pointer;
    color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;

    .ng-fa-icon {
      display: flex;
      margin-right: -2px;
    }
  }

  .user-coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $salmon;
    font-weight: bold;
  }

  img {
    width: 100%;
  }
}
.header-responsive{
  display: none;
}
.menu-toggle {
  display: none;
  cursor: pointer;
}
#logo-responsive{
  display: none;
}

@media (max-width: 768px) {
  header{
    height: 90px;
    background-position: center top;

    .container{
      padding: 1rem 20px;
    }
    #header-links-container, #header-auth-buttons-container{
      display: none;
    }
    .app-user-button-desktop{
      display: none;
    }
  }
  #logo-responsive{
    display: block;
    max-width: 1.5rem;
    position: absolute;
    top: 8px;
    img{
      width: 100%;
    }

  }
  #logo {
    display: none;
  }

  app-header-responsive{
    position: relative;
    min-height: 90px;
    width: 100%;
    .menu-toggle {
      display: block;
      color: white;
      position: absolute;
      right: 20px;
      top:20px;
      z-index: 1037;
    }
    .isMenuOpen{
      color: $blue;
    }
    nav{
      min-height: 100vh;
      min-width: 100vw;
      background-color: white;
      position: fixed;
      top:0;
      left: 0;
      z-index: 1036;
      background-image: url("/assets/img/waves-modals.svg");
      background-position: bottom -1rem center;
      background-repeat: no-repeat;
      padding: 0 20px;
      .user-modals{
        display: flex;
        margin-top: 6rem;
        justify-content: space-around;
      }
      #user-buttons{
        margin: auto;
        margin-top: 6rem;

      }
      .links-responsive{
        a{
          text-decoration: none;
          color: $blue;
          font-size: 0.8rem;
          display: flex;
          fa-icon{
            margin-right: 0.5rem;
            color: $salmon_dark;
          }
        }
        h4{
          color: $salmon_dark;
          font-weight: 400;
          margin-bottom: 1rem;
        }
      }
      hr{
        margin-top : 2rem;
        margin-bottom: 2rem;
        border: 1px solid #428fc3;
        width: 8rem;
        background-color: #428fc3;
      }
      #nav-responsive-logo{
        width: 7rem;
        position: absolute;
        left: 10px;
        top:10px;
        img{
          width: 100%
        }
      }
    }
    .open{
      display: block;
    }
  }


}

