header{
  min-height: 220px;
  max-height: 220px;
  background-size: cover;
  background: white url("/assets/img/waves-header.svg") no-repeat center top;

  .container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header-links-container{
    display: flex;
    align-items: center;
    #logo{
      max-width: 200px;
      img{
        width: 100%;
      }
    }
    .menu-links{
      display: block;
      margin-top: 0.4rem;
      margin-left: 2rem;
      text-decoration: none;
      color: white;
      font-size: 1rem;
    }
  }
  #header-auth-buttons-container{
    display: flex;
    .btn-primary{
      border: none;
    }
  }
}
#user-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  width: 8rem;

  .user-button {
    max-width: 2.2rem;
    min-width: 2.2rem;
    min-height: 2.2rem;
    max-height: 2.2rem;
    object-fit: cover;
    border: 1px solid $salmon;
    border-radius: 50%;
    padding: 0.3rem;
  }

  .logout {
    cursor: pointer;
    color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;

    .ng-fa-icon {
      display: flex;
      margin-right: -2px;
    }
  }

  .user-coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $salmon;
    font-weight: bold;
  }

  img {
    width: 100%;
  }
}

