header {
  height: 250px;
  background: white url("/assets/img/waves-header.svg") no-repeat center/cover;

  .container {
    margin-top: 0;
    padding: 1.5rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header-links-container {
    display: flex;
    align-items: center;

    #logo {
      max-width: 200px;
      margin-right: 2rem;

      img {
        width: 100%;
        mix-blend-mode: plus-lighter;
      }
    }

    ul {
      display: flex;
      gap: 20px;
      padding: 0;
      list-style: none;
      margin: 0 0 -.75rem;

      li {
        a {
          padding: 1rem .5rem;

          &:hover {

          }
        }
      }
    }

    .menu-links {
      text-decoration: none;
      color: white;
      font-size: 1rem;
    }
  }

  #header-auth-buttons-container {
    display: flex;
    margin-bottom: -.75rem;

    .btn-primary {
      border: none;
    }
  }
}

#user-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  width: 8rem;

  .user-button {
    max-width: 2.2rem;
    min-width: 2.2rem;
    min-height: 2.2rem;
    max-height: 2.2rem;
    object-fit: cover;
    border: 1px solid $salmon;
    border-radius: 50%;
    padding: 0.3rem;
  }

  .logout {
    cursor: pointer;
    color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;

    .ng-fa-icon {
      display: flex;
      margin-right: -2px;
    }
  }

  .user-coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $salmon;
    font-weight: bold;
  }

  img {
    width: 100%;
  }
}

