<header>
  <div class="container">
    <section id="header-links-container">
      <div id="logo">
        <a href="/">
          <img src="/assets/img/logo/logo_blanc.png"/>
        </a>
      </div>
      <a href="" class="menu-links"> A propos</a>
      <a href="" class="menu-links"> Contact</a>
    </section>
    <section id="header-auth-buttons-container">
      <button class="btn btn-primary" (click)="connectionModal = true"> Se connecter</button>
      <button class="btn btn-primary"> S'inscrire </button>
    </section>
  </div>
  <app-deposit-editor-modal
    [title]="'Se connecter'"
    [formBuilder]="connectionFormBuilder"
    [isOpen]="connectionModal"
    (isOpenChange)="connectionModal = $event"
    [service]="service"
    (onSubmitForm)="onConnectionSubmit($event)"
    [customForm]="true"
  >
  </app-deposit-editor-modal>
</header>
