#last-documents {
  &.loading {
    display: flex;
    justify-content: center;
    padding: 20% 0;
  }
}

.user-last-documents{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 768px) {
  .user-last-documents{
    margin-top: 1rem;
    gap: 0.5rem;
  }
  #last-documents{
    padding-right: 20px;
  }
}
