@import "src/styles/variables";
@import "swiper/css";
// @import "swiper/css/navigation";
// @import "~swiper/css/pagination";
@import "swiper/css/effect-creative";

#testimonies{
  background-color: rgba($salmon, 0.3);
  margin-top: 8rem;
  .container{
    display: flex;
  }
  h3{
    text-align: center;
    margin-left: 3rem;
  }

}
