<section id="baseline" class="container">
  <aside class="baseline-left">
    <div class="title-text">
      <h1> Depos'it, la gestion de vos documents personnels simplifiée et sécurisée</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisl tellus, lacinia ac nisl sed, tincidunt condimentum.</p>
    </div>
  <div>
  <button class="btn btn-primary">
    <img src="../../../../assets/img/home/stores-logo/play-store.png"/>
  Disponible&nbsp;sur&nbsp;Google Play
  </button>
  </div>
  </aside>
  <aside class="baseline-right">
    <div id="baseline-right"></div>
    <div id="baseline-left"></div>
  </aside>
</section>
