<section id="baseline" class="container">
  <aside class="baseline-left">
    <div class="title-text">
      <h1> Depos'It, lorem ipsum dolor sit amet, consectetur.</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisl tellus, lacinia ac nisl sed, tincidunt condimentum.</p>
    </div>
  <div>
  <button class="btn btn-primary">
    <img src="../../../../assets/img/home/stores-logo/play-store.svg"/>
  Disponible sur <br> Google Play
  </button>
    <button class="btn btn-primary">
      <img src="../../../../assets/img/home/stores-logo/app-store.svg"/>
    Disponible sur <br> l'App Store
    </button>
  </div>
  </aside>
  <aside class="baseline-right">
    <div id="baseline-right"></div>
    <div id="baseline-left"></div>
  </aside>
</section>
