@import "src/styles/variables";

#values{
  width: 70%;
  margin: 8rem auto auto;

  h2{
    text-align: center;
  }
  hr{
    border: 1px solid $blue;
    margin-bottom: 4rem;
    width: 4rem;
    background-color:$blue;
  }
  .asides-containers{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    .aside-deposit-support{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 10rem;
      p{
        text-align: center;
      }

      .imgs-container{
        max-width: 2rem;
        img{
          max-width: 100%;
        }
      }
    }

  }
}
@media (max-width: 768px) {
  #values{
    width: 100%;
    margin: 4rem auto auto;
    .asides-containers{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .aside-deposit-support{
        margin-bottom: 2rem;

      }
    }
  }
}
