.profile-card{
  min-width: 17rem;
  margin-right: 2rem;
  .card-block{
    padding-bottom: 2rem;
  }
  .card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .profile-card{
    min-width: 14.5rem;
    max-width: 14.5rem;
    margin-right: 0;
  }
}
