<app-files-table-header></app-files-table-header>
<table class="table files-table">
  <thead>
  <tr>
    <th> Type </th>
    <th> Nom </th>
    <th> Date de création</th>
    <th> Taille </th>
    <th> Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let folder of folders">
    <td>
      <div class="img-document-type">
        <img src="{{'folder'| fileTypeImagePipe}}"/>
      </div>
    </td>
    <td> {{folder.name}}</td>
    <td> {{folder.createdAt | date:'dd.MM.YYYY HH:mm'}}</td>
    <td> 7.86 ko</td>
    <td class="actions-buttons">
      <button (click)="goToDetails(folder.id, 'folder')" class="btn btn-secondary">
        <fa-icon  class="icon" [icon]="file"></fa-icon>
      </button>
      <button (click)="onDelete(folder.id)" class="btn btn-danger">
        <fa-icon class="icon" [icon]="trash"></fa-icon>
      </button>
    </td>
  </tr>
  <tr *ngFor="let document of documents">
    <td>
      <div class="img-document-type">
      <img src="{{document?.type | fileTypeImagePipe}}"/>
    </div>
    </td>
    <td> {{document.name}}</td>
    <td> {{document.createdAt | date:'dd.MM.YYYY'}}</td>
    <td>{{document.size | fileSize}}</td>
    <td class="actions-buttons">
      <button (click)="goToDetails(document.id, 'file')" class="btn btn-secondary">
        <fa-icon  class="icon" [icon]="file"></fa-icon>
      </button>
      <button (click)="onDelete(document.id)" class="btn btn-danger">
        <fa-icon class="icon" [icon]="trash"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-deposit-delete-modal title="Supprimer l'element"
                          [objectId]="currentDeleteDocumentId"
                          [isOpen]="deleteModal"
                          (isOpenChange)="deleteModal = $event"
                          [service]="service">
</app-deposit-delete-modal>
