@import "src/styles/variables";

#dashboard-profile-infos-recents {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fecfa3;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;

  #dashboard-profile-infos-recents-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    span {
      padding: .25rem;
    }
  }

  h5 {
    font-weight: bold;
    margin: 0 0 .5rem;
  }

  #dashboard-profile-infos-recents-spinner {
    margin-top: .5rem;
  }
}
