@import "src/styles/variables";

$width: calc((100% - 1200px)/2);

#aside-menu-profile{
  min-height: 99vh;
  position: fixed;
  right:0;
  min-width: $width;
  max-width: $width;
  border-left: 1px solid black;
  top:0;
  display: flex;
  flex-direction: column;
  padding: 0 0.2rem;
  p{
    color: $blue;
    font-weight: bold;
  }
  span{
    cursor:pointer;
  }
}
