<app-deposit-header></app-deposit-header>
<div class="container">
<section id="mentions-Legales" >
  <div class="text">
    <h1>Mentions légales</h1>
    <h2> I. Identification et publication </h2>
    <h3> 1.1 Editeur </h3>

    <p> Ce site est publié par Depos'It </p>
    <p>Il est un site développé dans le cadre d'un projet étudiant de 4e année pour le titre Manager en ingénérie informatique
      préparé au CCI Campus Strasbourg</p>
    <p> Il est la propriété exclusive de <b>Codina Aranxa, Jerbi Manel et Creusat Chris </b></p>
    <h3>1.2 Hébergement</h3>
    <p> Le site est hébergé par <b> OVH 2 rue Kellermann 59100 Roubaix-Tourcoing </b> </p>
    <h3> 1.3  Crédits photo </h3>
    <p> Photos d’ambiance : Istockphoto </p>
    <h2> II. Propriété intellectuelle</h2>
    <p> Tous les éléments graphiques, la structure et, plus généralement, le contenu du site https://app.deposit.ovh sont protégés par le droit d’auteur, le droit des marques et le droit des dessins et modèles. Tous les éléments relatifs à une Marque (symboles, designs, images, désignations de produits et de sociétés, ainsi que tous les autres contenus du site Internet appartenant à la Marque) sont protégés et restent la propriété de chaque Marque. Toute personne qui recueille ou télécharge du contenu ou des informations diffusées sur le site ne dispose sur ceux-ci que d’un droit d’usage privé, personnel et non-transmissible. La reproduction d’une page du site dans un cadre extérieur à Deposit ou l’insertion d’une page appartenant à Deposit dans la page d’un autre site est interdite.
      De même, toute reproduction ou représentation du site en partie ou en totalité est interdite sans l’accord écrit de Deposit et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la Propriété Intellectuelle. Les textes, graphismes, dessins, logos et photos qui sont diffusés par Deposit peuvent faire l’objet d’une reproduction sur un support papier ou un support électronique, sous réserve de citer le nom et l’adresse du site et de ne pas en faire une utilisation commerciale. Le non-respect des dispositions ci-dessus est susceptible de constituer une contrefaçon engageant la responsabilité civile ou pénale de l’auteur de la contrefaçon. </p>

    <h2> III. Collecte et utilisation des données à caractère personnel</h2>
    <p>La collecte des données à caractère personnel pour les prestations proposées par le site https://app.deposit.ovh ainsi que leur traitement sont effectués dans le respect de la loi « Informatique, Fichiers et Libertés » du 6 janvier 1978 modifiée et ses décrets d’application. La collecte des données à caractère personnel concernant les utilisateurs du site DEPOS’IT a pour finalités principales l’identification des utilisateurs pour la fourniture des services et prestations proposés sur le site. Les données récoltées ne sont jamais transmises à des tiers sauf si le client a donné son consentement préalable et ce, sous réserve que les tiers se soient clairement engagés à respecter toutes les dispositions de la Loi du 6 janvier 1978 modifiée.
      En application de la loi, toute personne ayant transmis des données à caractère personnel dispose d’un droit d’accès, de rectification et de suppression des données ainsi que d’un droit d’opposition au traitement des données à caractère personnel la concernant. À tout moment, vous pouvez demander à exercer ce droit en contactant DEPOS’IT. Les visiteurs du site sont informés que pour les besoins de la navigation sur le site https://app.deposit.ovh DEPOS’IT peut avoir recours à la collecte automatique de certaines informations relatives aux utilisateurs à l’aide des cookies. Si l’utilisateur du site ne souhaite pas l’utilisation de cookies par DEPOS’IT, il peut refuser l’activation des cookies par le biais des options proposés par son navigateur Internet. Pour des raisons techniques, si l’utilisateur désactive les cookies dans son navigateur, certaines prestations proposées sur le site DEPOS’IT lui seront peut-être inaccessibles.
    </p>

  </div>
</section>

</div>
<app-deposit-footer></app-deposit-footer>
