@import "src/styles/variables";

.deposit-search-bar{
  width: 70%;
  margin: 2.5rem auto;

  position: relative;
  input{
    width: 100%;
    min-height:1.8rem;
    border: 1px solid $salmon;
    border-radius: 1rem;
  }
  .search-button{
    position: absolute;
    right: 0.8rem;
    top:0.3rem;
    color : $salmon;
  }
}
