.card{
  max-width: 30rem;
  z-index: 9999;
  position: relative;
  background-image: url("/assets/img/waves.svg");
  background-position: bottom -1rem center;
  background-repeat: no-repeat;
  .title{
    text-align: center;
  }

  .btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
    min-width: 0.6rem;
    max-width: 0.6rem;
    border: 1px solid;
    border-radius:50%;
  }
  .modal-body{
    margin-top: -1.25rem;
    padding-bottom: 3rem;
  }
}

