<div id="dashboard-wrapper">
  <aside id="dashboard-menu-container">
    <app-aside-menu></app-aside-menu>
    <app-aside-menu-responsive></app-aside-menu-responsive>
    <div id="user-buttons">
      <div class="user-coin">
        <div class="user-button">
          <img src="../../../assets/img/simon_coin.png"/>
        </div>
        27 sc
      </div>
    </div>
  </aside>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
  <aside id="dashboard-infos-container">
    <app-aside-profile-info></app-aside-profile-info>
  </aside>
</div>
<app-deposit-footer></app-deposit-footer>
