  <app-files-table-header [currentFolder]="currentFolder" [searchMode]="searchMode"></app-files-table-header>
  <ng-container *ngIf="filesDisplay && filesDisplay.length > 0 else noFiles" >
    <clr-datagrid class="files-datagrid" [clrDgRowSelection]="false">
      <clr-dg-column>Type</clr-dg-column>
      <clr-dg-column [clrDgSortBy]="nameComparator">Nom</clr-dg-column>
      <clr-dg-column [clrDgSortBy]="dateComparator">Date de création</clr-dg-column>
      <clr-dg-column>Taille</clr-dg-column>
      <clr-dg-column>Action</clr-dg-column>

      <clr-dg-row *clrDgItems="let fileDisplay of filesDisplay; let i = index"
                  [clrDgItem]="fileDisplay" cdkDropList (cdkDropListDropped)="onDrop($event, fileDisplay)"
      (mouseenter)="currentFileHover = fileDisplay" (mouseleave)="currentFileHover = null"

      >
        <clr-dg-cell cdkDrag cdkDragLockAxis="y" >
          <div   class="img-document-type m-auto" (click)="goToDetails(fileDisplay.id, fileDisplay.elementType)">
            <img src="{{fileDisplay.type| fileTypeImagePipe}}"/>
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          {{ fileDisplay.name }}
        </clr-dg-cell>
        <clr-dg-cell>{{ fileDisplay.createdAt | date:'dd.MM.YYYY HH:mm' }}</clr-dg-cell>
        <clr-dg-cell>{{fileDisplay.size | fileSize}}</clr-dg-cell>
        <clr-dg-cell class="actions-buttons">
          <button (click)="onDelete(fileDisplay.id, fileDisplay.elementType)" class="btn btn-danger">
            <fa-icon class="icon" [icon]="trash"></fa-icon>
          </button>
        </clr-dg-cell>
        <div *cdkDragPreview matchSize="true" class="container dragdrop-placeholder">
          {{fileDisplay.name}}
        </div>
      </clr-dg-row>
    </clr-datagrid>

   <div class="files-table-responsive">
     <ng-container *ngFor="let file of filesDisplay">
       <div class="responsive-row-file">
         <div class="infos-file">
           <div class="img-document-type" (click)="goToDetails(file.id, file.elementType)">
             <img src="{{file.type| fileTypeImagePipe}}"/>
           </div>
           <div>
             <p>{{file.name}}</p>
             <span>
      <span> {{file.size}}</span>
      <span>{{ file.createdAt | date:'dd.MM.YYYY HH:mm' }} </span>
    </span>
           </div>
         </div>
         <div>
           <button (click)="onDelete(file.id, file.elementType)" class="btn btn-danger">
             <fa-icon class="icon" [icon]="trash"></fa-icon>
           </button>
         </div>
       </div>
       <hr>
     </ng-container>
   </div>

    <app-deposit-delete-modal title="Supprimer le dossier"
                              [objectId]="currentDeleteDocumentId"
                              [isOpen]="deleteFolderModal"
                              (isOpenChange)="deleteFolderModal = $event"
                              [service]="folderService">
    </app-deposit-delete-modal>
    <app-deposit-delete-modal title="Supprimer le document"
                              [objectId]="currentDeleteDocumentId"
                              [isOpen]="deleteDocumentModal"
                              (isOpenChange)="deleteDocumentModal = $event"
                              [service]="documentService">
    </app-deposit-delete-modal>
  </ng-container>
  <ng-template #noFiles>
    <p>
      Il n'y a aucun fichier pour l'instant
    </p>

  </ng-template>


