@import "src/styles/variables";

#plans {
  background-color: rgba($blue, 0.2);
  padding: 5rem 0;

  &.container {
    margin: 6rem auto 8rem auto;
    width: 70%;
  }

  h2 {
    text-align: center;
    margin: 0;
  }

  hr {
    border: 1px solid $blue;
    margin-bottom: 4rem;
    width: 4rem;
    background-color: $blue;
  }

  .asides-containers {
    display: flex;
    justify-content: space-between;
    margin: auto;

    .aside-deposit-support {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 10rem;
      background-color: white;
      border-radius: 10px;
      box-shadow: 1px 1px 3px #e0e8fe;
      padding: 1rem;


      p {
        font-size: .85rem;
        text-align: center;
      }

      .imgs-container {
        max-width: 3rem;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #plans{
    width: 100%;
    .asides-containers{
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      .aside-deposit-support{
        margin-bottom: 2rem;

      }
    }
  }
}

